doctype html
html
	head
	body
		header
			h1 brink-trello
		nav
			ul
				li herp
				li derp
		main
			h2 Content!
			p more content...
		footer
			p brink technology co.
		script(src="js/index.js" type="text/javascript")